{% extends "base.twig" %}

{% block main %}
	<h1 class="title" id="contactFormTitle">Se connecter</h1>
	<form name="contactForm" id="contactForm" @submit.prevent="validate">
		{# <label for="nom">Nom :</label>
		<input type="text" id="nom" name="nom" x-model="nom">
		<template x-if="errors.nom">
			<div class="error" x-text="errors.nom"></div>
		</template> #}

		<label for="email">Email :</label>
		<input type="email" id="email" name="email" x-model="email">
		<template x-if="errors.email">
			<div class="error" x-text="errors.email"></div>
		</template>

		<label for="message">Mot de passe :</label>
		<input type="password" name="password" id="password">
		<template x-if="errors.message">
			<div class="error" x-text="errors.message"></div>
		</template>

		<button type="submit">Se connecter</button>
	</form>
	<!-- <template x-if="successMessage">
						<p style="color: green; margin-top: 1rem;" x-text="successMessage"></p>
					</template> -->
	<div class="modal-overlay" x-show="modalOpen" x-transition @keydown.escape.window="modalOpen = false" x-cloak>
		<div class="modal-container" x-on:click.away="modalOpen = false">
			<div class="modal-content">
				<div class="modal-body">
					<p>✅ Message envoyé avec succès !</p>
				</div>
				<div class="mt-4">
					<button class="btn" @click="modalOpen = false" x-ref="modalCloseButton">
						Fermer
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
