{% extends "base.twig" %}
{# todo affichage different selon perm
util : ce qu'il a ecrit sous tout statut
admin : ensemble des comm en attente et articles
#}
{% block main %}
	{% if roles['Administrateur'] %}
		<h1> Admin </h1>
	{% endif %}
	{% if roles['Éditeur'] %}
		<h1> Editeur</h1>
	{% endif %}
	{% if roles['Contributeur'] %}
		<h1> Contributeur</h1>
	{%  endif  %}
{% endblock %}