{% extends "base.twig" %}
{# todo affichage different selon perm
util : ce qu'il a ecrit sous tout statut
admin : ensemble des comm en attente et articles
#}
{% block main %}
	{% if permissions['article_creer'] %}
		<div class="mb-4 text-center">
			<a href="/creer-article" class="btn btn-success btn-lg">
				➕ Créer un nouvel article
			</a>
		</div>
	{% endif %}
	{% if permissions['utilisateur_gerer'] %}
		{% include "gestionUtilisateur.twig" %}
	{% endif %}

{% endblock %}