<header>
	<nav x-data="{ articleOpen: false }">
		<a href="/accueil" class="menu-item">Accueil</a>
		<div class="menu-item" @click.away="articleOpen = false">
			<a @click="articleOpen = !articleOpen">Articles</a>
			<div :class="articleOpen ? 'menu_show' : 'menu'">
				{# <template x-for="indice in [0, 1]" :key="indice"> #}
				{% set numArticle = 1 %}
				{% for article in url %}
					<a href="/{{ article.slug }}?id={{ article.id }}">Article
						{{ numArticle }}
					</a>
					{% set numArticle = numArticle+1 %}
				{% endfor %}
			</div>
		</div>
		{% if session.get('user_id') is defined and session.get('user_id') is not empty %}
			<a href="/connexion" class="menu-item">Dashboard</a>
			<a href="/deconnexion" class="menu-item">Déconnexion</a>
		{% else %}
			<a href="/connexion" class="menu-item">Connexion</a>
		{% endif %}		
		<img src="../../images/lune.png" alt="Lune" id="darkModeIcon">
	</nav>
</header>
