<header>
	<nav>
		<a href="/accueil" class="menu-item">Accueil</a>
		<div x-data="{ open: false }" class="menu-item">
			<a @click="open = !open">Articles</a>
			<div :class="open ? 'menu_show' : 'menu'" class="menu">
				{# <template x-for="indice in [0, 1]" :key="indice"> #}
				{% set numArticle = 1 %}
				{% for article in url %}
					<a href="/{{ article.slug }}?id={{ article.id }}">Article
						{{ numArticle }}
					</a>
					{% set numArticle = numArticle+1 %}
				{% endfor %}
			</div>
		</div>
		<a href="/contact" class="menu-item">Contact</a>
		<img src="../../images/lune.png" alt="Lune" id="darkModeIcon">
	</nav>
</header>
